.map {
  overflow: scroll;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;

  .city {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/map/city.jpg') center center no-repeat;
    background-size: 100%;
  }

  .armies {
    position: absolute;
    z-index: 23;
    top: 0;
    white-space: normal;
    width: 100%;
    word-break: break-word;

    .army {
      width: 50px;
      height: 50px;

      position: absolute;
      top: 20px;
      left: 30px;

      z-index: 2;

      img {
        position: relative;
        z-index: 1;
      }

      .movement {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9000;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 50%;
          margin-left: -5px;
          width: 10px;
          height: 30px;
          background: red;
        }

        &.north {
          transform: rotate(0deg);
        }
        &.neast {
          transform: rotate(60deg);
        }
        &.seast {
          transform: rotate(120deg);
        }
        &.south {
          transform: rotate(180deg);
        }
        &.swest {
          transform: rotate(240deg);
        }
        &.nwest {
          transform: rotate(300deg);
        }

        &.none {
          display: none;
        }
      }

      &::before {
        position: absolute;
        bottom: 5px;
        left: 10px;
        content: '';
        width: 30px;
        height: 10px;
        border-radius: 50%;
        background: #000;
        z-index: 1;
      }

      &.self::before {
        background-color: #66bb66;
      }
      &.hostile::before {
        background-color: #ff3333;
      }

      &.battling::before {
        box-shadow: 0 0 10px 6px red;
      }
    }
  }

  .row {
    white-space: nowrap;
    position: relative;
  }

  .tile {
    position: absolute;
    display: inline-block;
    width: 80px;
    height: 80px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
